[package]
name = "stereokit"
version = "0.9.0"
edition = "2021"
description = "Higher-Level wrapper around stereokit-sys bindings for StereoKitC library for XR"
homepage = "https://stereokit.net/"
keywords = ["stereokit", "XR", "VR", "AR"]
license = "MIT"
repository = "https://github.com/MalekiRe/stereokit-rs"


[lib]
crate-type = ["lib", "cdylib"]

exclude = [
    ".idea"
]

[features]
default = []
linux-egl = ["stereokit-sys/linux-egl"]
high-level = ["dep:glam", "dep:anyhow"]

[dependencies]
mint = { version = "0.5.9", features = ["serde"] }
prisma = "0.1.1"
num = "0.4.0"
num-derive = "0.3.3"
num-traits = "0.2.15"
derive_is_enum_variant = "0.1.1"
derive_builder = "0.11.2"
stereokit-sys = "2.0.0"
once_cell = "1.16.0"
bitflags = "1.3.2"
ustr = "0.9.0"
serde = { version = "1.0.147", features = ["derive"] }
serde_repr = "0.1.9"
bitflags_serde_shim = "0.2.2"
num_enum = "0.5.7"
glam = {version = "0.22.0", features = ["mint"], optional = true}
anyhow = {version = "1.0.66", optional = true}

[target.'cfg(target_os = "android")'.dependencies]
ndk-context = "0.1.1"

[dev-dependencies]
anyhow = "1.0.61"
glam = {version = "0.22.0", features = ["mint"]}

