[package]
name = "stereokit"
version = "0.11.0"
edition = "2021"
description = "Higher-Level wrapper around stereokit-sys bindings for StereoKitC library for XR"
homepage = "https://stereokit.net/"
keywords = ["stereokit", "XR", "VR", "AR"]
license = "MIT"
repository = "https://github.com/MalekiRe/stereokit-rs"

[lib]
crate-type = ["lib", "cdylib"]
exclude = [
    ".idea"
]

[features]
default = []
linux-egl = ["stereokit-sys/linux-egl"]
high-level = ["dep:glam"]
prisma = ["stereokit-sys/prisma"]
color_named = []

[dependencies]
mint = { version = "0.5.9", features = ["serde"] }
num-derive = "0.3.3"
derive_is_enum_variant = "0.1.1"
derive_builder = "0.12.0"
stereokit-sys = "2.2.0"
once_cell = "1.16.0"
bitflags = "1.3.2"
ustr = "0.9.0"
serde = { version = "1.0.147", features = ["derive"] }
serde_repr = "0.1.9"
bitflags_serde_shim = "0.2.2"
num_enum = "0.5.7"
glam = {version = "0.22.0", features = ["mint"], optional = true}
color-eyre = "0.6.2"

[target.'cfg(target_os = "android")'.dependencies]
ndk-context = "0.1.1"

[dev-dependencies]
glam = {version = "0.22.0", features = ["mint"]}

[profile.dev.package.backtrace]
opt-level = 3

[patch.crates-io.stereokit-sys]
path = "../stereokit-sys"